*{
    box-sizing: border-box;
    color: white;
}

body {
    background: url(../images/HyperSpace.jpg);
    /* color: yellow; */
    position: relative;
}

.container {
    background: black
}

#header {
    padding: 20px;
    margin: 20px;
    text-align: center;
}

#subHeader {
    padding: 20px;
    margin: 20px;
    text-align: center;
}

.startScreenButton {
    height: 240px;
}

button {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 2%;
    margin: 3%;
    background: gray;
    color: white;

    
}

#game {
    display: none;
}
.question {
    padding: 20px;
    margin: 20px;
    text-align: center;
}

#form {
    margin-bottom: 20px;
}

#results {
    display: none;
}